<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coyongyong.mapper.customerMapper">
  
   	<select id="getTime" resultType="string">
 		select now()
 	</select>
 	
     <insert id="insert"> 
   		insert into customer (customerID, customerPW, name, tel, Email, lastChangedPwDay, customerNickname, customerImage, customerLike, customerIntro) values
 		(#{customerID}, #{customerPW}, #{name}, #{tel}, #{Email}, #{lastChangedPwDay}, #{customerNickname}, #{customerImage}, #{customerLike} , #{customerIntro})
     </insert> 
 	
     <select id="selectByid" resultType="com.example.coyongyong.domain.customerVO">
 		select * from customer where customerID = #{customerID}
     </select>
     
     <select id="selectAll" resultType="com.example.coyongyong.domain.customerVO">
     <![CDATA[
 		select * from customer
      ]]> 
     </select>
 	
     <update id="update">
	 	update customer set customerID =#{customerID}, customerPW =#{customerPW}, name =#{name}, 
			tel =#{tel}, Email =#{Email}, lastChangedPwDay =#{lastChangedPwDay} , customerNickname =#{customerNickname} , customerImage =#{customerImage} , customerLike =#{customerLike} , customerIntro =#{customerIntro}
		 where customerID = #{customerID}
    </update>
 
    <delete id="delete">
		delete from customer where customerID = #{customerID}
    </delete>
	
</mapper>  

