<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coyongyong.mapper.questionMapper">
  
   	<select id="getTime" resultType="string">
 		select now()
 	</select>
 	
     <insert id="insert"> 
   		insert into question (questionNum, questionCount, questionTitle, questionContent, questionDate, customerID, gradeNum, questionCode, questionError, questionLanguageNum) values
 		(#{questionNum}, #{questionCount}, #{questionTitle}, #{questionContent}, #{questionDate}, #{customerID}, #{gradeNum}, #{questionCode}, #{questionError}, #{questionLanguageNum})
     </insert> 
 	
     <select id="selectByid" resultType="com.example.coyongyong.domain.questionVO">
 		select * from question where questionNum = #{questionNum}
     </select>
 	
     <select id="selectAll" resultType="com.example.coyongyong.domain.questionVO">
     <![CDATA[
 		select * from question
      ]]> 
     </select>
 	
 	<select id="selectLastQuestionNum" resultType="int">
 		select max(questionNum) from question
     </select>
 	
 	<!-- languageNum = 1(C)인 곳에서 조회수 top 3 뽑아내기 -->
 	<!-- languageNum = 2(python) -->		
 	<!-- languageNum = 3(Java) -->
 	
 	<select id="selectQuestionsTop" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where grade = #{grade} && languageNum = #{languageNum} order by questionCount desc limit 3
    ]]> 
     </select>
 	
     <update id="update">
	 	update question set questionNum =#{questionNum}, questionCount =#{questionCount}, questionTitle =#{questionTitle}, 
			questionContent =#{questionContent}, questionDate =#{questionDate}, customerID =#{customerID}, gradeNum =#{gradeNum} 
		 where questionNum = #{questionNum}
    </update>
 
    <delete id="delete">
		delete from question where questionNum = #{questionNum}
    </delete>
	
</mapper>  

