<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coyongyong.mapper.questionMapper">
  
   	<select id="getTime" resultType="string">
 		select now()
 	</select>
 	
     <insert id="insert"> 
   		insert into question (questionNum, questionCount, questionTitle, questionContent, questionDate, customerID, gradeNum) values
 		(#{questionNum}, #{questionCount}, #{questionTitle}, #{questionContent}, #{questionDate}, #{customerID}, #{gradeNum})
     </insert> 
 	
     <select id="selectByid" resultType="com.example.coyongyong.domain.questionVO">
 		select * from question where questionNum = #{questionNum}
     </select>
 	
     <select id="selectAll" resultType="com.example.coyongyong.domain.questionVO">
     <![CDATA[
 		select * from question
      ]]> 
     </select>
 	
 	<select id="selectLastQuestionNum" resultType="int">
 		select max(questionNum) from question
     </select>
 	
 	<!-- languageNum = 1(C)인 곳에서 조회수 top 3 뽑아내기 -->
 	<!-- 레벨 1 -->
 	<select id="selectTop1Level1inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 1 && languageNum = 1;
     ]]> 
     </select>
     <select id="selectTop2Level1inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 1 && languageNum = 1;
     ]]> 
     </select>
     <select id="selectTop3Level1inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 1 && languageNum = 1;
     ]]> 
     </select>
     
     <!-- 레벨 2 -->
 	<select id="selectTop1Level2inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 2 && languageNum = 1;
     ]]> 
     </select>
     <select id="selectTop2Level2inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 2 && languageNum = 1;
     ]]> 
     </select>
     <select id="selectTop3Level2inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 2 && languageNum = 1;
     ]]> 
     </select>
     
     <!-- 레벨 3 -->
 	<select id="selectTop1Level3inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 3 && languageNum = 1;
     ]]> 
     </select>
     <select id="selectTop2Level3inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 3 && languageNum = 1;
     ]]> 
     </select>
     <select id="selectTop3Level3inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 3 && languageNum = 1;
     ]]> 
     </select>
     
     <!-- 레벨 4 -->
 	<select id="selectTop1Level4inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 4 && languageNum = 1;
     ]]> 
     </select>
     <select id="selectTop2Level4inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 4 && languageNum = 1;
     ]]> 
     </select>
     <select id="selectTop3Level4inC" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 4 && languageNum = 1;
     ]]> 
     </select>
     
     <!-- languageNum = 2(python)인 곳에서 조회수 top 3 뽑아내기 -->
 	<!-- 레벨 1 -->
 	<select id="selectTop1Level1inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 1 && languageNum = 2;
     ]]> 
     </select>
     <select id="selectTop2Level1inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 1 && languageNum = 2;
     ]]> 
     </select>
     <select id="selectTop3Level1inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 1 && languageNum = 2;
     ]]> 
     </select>
     
     <!-- 레벨 2 -->
 	<select id="selectTop1Level2inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 2 && languageNum = 2;
     ]]> 
     </select>
     <select id="selectTop2Level2inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 2 && languageNum = 2;
     ]]> 
     </select>
     <select id="selectTop3Level2inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 2 && languageNum = 2;
     ]]> 
     </select>
     
     <!-- 레벨 3 -->
 	<select id="selectTop1Level3inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 3 && languageNum = 2;
     ]]> 
     </select>
     <select id="selectTop2Level3inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 3 && languageNum = 2;
     ]]> 
     </select>
     <select id="selectTop3Level3inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 3 && languageNum = 2;
     ]]> 
     </select>
     
     <!-- 레벨 4 -->
 	<select id="selectTop1Level4inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 4 && languageNum = 2;
     ]]> 
     </select>
     <select id="selectTop2Level4inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 4 && languageNum = 2;
     ]]> 
     </select>
     <select id="selectTop3Level4inPytyon" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 4 && languageNum = 2;
     ]]> 
     </select>
     
     <!-- languageNum = 3(Java)인 곳에서 조회수 top 3 뽑아내기 -->
 	<!-- 레벨 1 -->
 	<select id="selectTop1Level1inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 1 && languageNum = 3;
     ]]> 
     </select>
     <select id="selectTop2Level1inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 1 && languageNum = 3;
     ]]> 
     </select>
     <select id="selectTop3Level1inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 1 && languageNum = 3;
     ]]> 
     </select>
     
     <!-- 레벨 2 -->
 	<select id="selectTop1Level2inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 2 && languageNum = 3;
     ]]> 
     </select>
     <select id="selectTop2Level2inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 2 && languageNum = 3;
     ]]> 
     </select>
     <select id="selectTop3Level2inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 2 && languageNum = 3;
     ]]> 
     </select>
     
     <!-- 레벨 3 -->
 	<select id="selectTop1Level3inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 3 && languageNum = 3;
     ]]> 
     </select>
     <select id="selectTop2Level3inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 3 && languageNum = 3;
     ]]> 
     </select>
     <select id="selectTop3Level3inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 3 && languageNum = 3;
     ]]> 
     </select>
     
     <!-- 레벨 4 -->
 	<select id="selectTop1Level4inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1) && grade = 4 && languageNum = 3;
     ]]> 
     </select>
     <select id="selectTop2Level4inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 1) && grade = 4 && languageNum = 3;
     ]]> 
     </select>
     <select id="selectTop3Level4inJava" resultType="com.example.coyongyong.domain.questionVO">
 	<![CDATA[
 		select * from question left join grade on question.customerID = grade.customerID where questionCount = (select distinct questionCount from question order by questionCount desc limit 1 offset 2) && grade = 4 && languageNum = 3;
     ]]> 
     </select>
 			
     <update id="update">
	 	update question set questionNum =#{questionNum}, questionCount =#{questionCount}, questionTitle =#{questionTitle}, 
			questionContent =#{questionContent}, questionDate =#{questionDate}, customerID =#{customerID}, gradeNum =#{gradeNum} 
		 where questionNum = #{questionNum}
    </update>
 
    <delete id="delete">
		delete from question where questionNum = #{questionNum}
    </delete>
	
</mapper>  

