body { margin: 0; }
main { 
  font-family: 'Hi Melody', cursive;
  font-family: 'Nanum Gothic', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin-bottom: 200px;
}

main > * {
  padding: 0.8em;
  /* color: rgb(119, 130, 254); */
  /* background-color: rgb(253, 253, 120); */
  margin: 12px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  margin-left: 80px;
}

.search {
  position: relative;
  width: 300px;
  margin-right: 40px;
}

#search {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 15px;
  padding: 10px 10px;
  font-size: 12px;
}

#search_img {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}

.topbar {
  display: flex;
  flex-grow: 1;
}

.loginbar_search {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.loginbar {
  margin-right: 100px;
}

.loginbar_login {
  margin-right: 139px;
}

.content {
  position: relative;
}

.content::after {
  content: "";
  position: absolute;
  bottom: 30px;
  height: 2px;
  left: 0px;
  right: 30px;
  background: rgb(234, 234, 234);
}

/* 선택된 버튼은 색 바뀌는거? 해당페이지에서만 바꾸면 되긴 할듯 */
#main_question_btn, #main_study_btn, #main_coding_btn {
  display:block;
  background-color: rgb(255, 153, 51);
  border: 2px solid rgb(192, 192, 192);
  border-radius: 100px;
  text-align: center;
  color: white;
  width: 200px;
  height: 37px;
  font-size: 22px;
  margin-left: 50px;
  padding-top: 5px;
}

#main_question_btn {
  background-color: rgb(255, 0, 127);
}

.menubtn {
  display: flex;
  margin: 10px;
  width: 100px;
  cursor: pointer;
}

.menubar {
  display: flex;
  position: relative;
  justify-content: center;
}

.dropdown_menubar {
  margin-left: 16px;
  display: none;
  position: absolute;
}

.dropdown_menubar a {
  padding: 7px;
  text-align: center;
  display: block;
}

/* 이 색은 괜찮나? */
.dropdown_menubar a:hover{ 
  background-color: #ffd9d9d9;
}

/* 이거 테두리색 뭐하지... */
.menubar:hover .dropdown_menubar {
  display: block;
  background-color: white;
  width: 274px;
  height: 180px;
  /* width: 100%; */
  border: 2px solid rgb(99, 99, 99);
  border: 2px solid rgb(160, 232, 237);
  border-radius: 5px;
}

.dropdown_menubar > #menubar_left {
  padding-left: 100px;
  left: 50px;
}

/* 이거 네모상자 테두리색을 바꿀까 아니면 그냥 background를 칠할까 고민되넹 */
.first, .second, .third {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(6, 10, 10);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.786);
  /* box-shadow: 7px 5px 5px 3px rgba(206, 226, 26, 0.7); */
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 25px;
}

#medal {
  margin-right: 10px;
}

footer {
  display: flex;
  height: 300px;
}

font {
  color: rgb(69, 65, 65);
  padding-top: 17px;
}