/* =============== HEADER =================== */
.background_color_white{
    background-color:#fff;
    border-radius:1px;
    border-color:azure
}

.footer-logo{
    width:200px;
}
/*====================================== */
