body { margin: 0; }
main { width: 100vw; }

main > * {
  padding: 0.8em;
  color: slateblue;
  background-color: lavender;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 80px 70px auto 200px;
  gap: 12px
}

header {
  grid-column: 1 / -1;
}

nav {
  grid-column: 1 / -1;
}

footer {
  grid-column: 1 / -1;
}

aside {
  grid-column: 1 / -1;
}