<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML & CSS 04-09-03</title>

  <link rel="stylesheet" href="grid.css">


</head>
<body>

  <main>
    <header>Header</header>
    <nav>nav</nav>
    <section class="sec-1">
      <a href="https://naver.com">
        질문이야 질문<br>이거는 뭘까?<br>흠.. 뭐지?
      </a>
    </section>
    <section class="sec-2">.sec-2
      <div>
        질문이야 질문<br>이거는 뭘까?<br>흠.. 뭐지?
      </div>
    </section>
    <section class="sec-3">.sec-3
      <div>
        질문이야 질문<br>이거는 뭘까?<br>흠.. 뭐지?
      </div>
    </section>
    </section>
    <section class="sec-4">.sec-4
      <div>
        질문이야 질문<br>이거는 뭘까?<br>흠.. 뭐지?
      </div>
    </section>
  </section>
  <section class="sec-4">.sec-4
    <div>
      질문이야 질문<br>이거는 뭘까?<br>흠.. 뭐지?
    </div>
  </section>
    <footer>footer</footer>
  </main>
</body>
</html>