body { margin: 0; }
main { 
  width: 100%;
  height: 100%;
  padding: 0px;
}

.white-block {
  font-family: 'Gowun Dodum', sans-serif;
}

td{
	padding-right:10px !important;
}

#subscribe, #like {
  font-family: 'Poor Story', cursive;
}

.content {
  border: 1px solid #000000;
  border-right: none;
  border-left: none;
  border-bottom: none;

  margin-top: 2%;
}


.top {
  display: flex;
  justify-content: center;
  background-color: #F3FAF7;
}

.toptop {
  width: 58%;
  margin-top: 5%;
}

.bg-white {
  background: #FFFFFF !important;
}

.flex-grow {
  display: flex;
  justify-content: center;
}

.column-center {
  display: flex;
  align-items: center;
}

.content {
  border: 1px solid #000000;
  border-right: none;
  border-left: none;
  border-bottom: none;

  margin-top: 10px;
  margin-bottom: 30px;
  
  display: block;
  width: 100%;
}

main > * {
  padding: 0.8em;
  /* color: rgb(119, 130, 254);
  background-color: rgb(253, 253, 120); */
  margin: 12px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.white-block {
  border: 2px solid #E5E7EB;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 5%;
  padding-top: 4%;
  margin-bottom: 5%;
}

.grid-2 {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}

/* �ш린 異붽� */
.grid-question-list {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.direction-column {
  display: flex;
  flex-direction: column;
}

.justify-start {
  display: inline-flex;
  justify-content: flex-start;
}

#margin-bottom {
  margin-bottom: 2%;
}

/* �꾩닔 �쒓렇 �� */


.question_title {
  display: flex;
  text-align: left;
  flex-direction: column;

  margin-top: 1%;
}

#question_title {
  float: left;
  vertical-align : text-top;
}

div > #question_language {
  padding: 5px;
  background-color: rgb(238, 123, 180);
  color: white;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 1%;
}

.answer_title {
  display: flex;
  flex-grow: 1;
}

.yongyong_answer {
  margin-top: 2%;

  display: block;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.1;
/*        height: 4.8em;*/
  text-align: left;
  -webkit-box-orient: vertical;
}

.img {
  width: 5%;
}

.yongyong_answer_content {
  letter-spacing: 2px;
  word-break: keep-all;
}

.answer {
  padding: 10px;
  letter-spacing: 2px;
  word-break: keep-all;
}

.answer_content {
  letter-spacing: 1px;
  word-break: keep-all;
  position: relative;
}

.answer_like {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  margin-top: 30px;
}

#yong_answer_like, #yong_answer_unlike, #answer_like, #answer_unlike {
  display: block;
  display: flex;
  flex-grow: 1;

  color: white;
  border-radius: 5px;
  padding: 9px;
  justify-content: center;
}

#question {
  padding: 4%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: normal;
  line-height: 1.2;
  height: 12em;
  width: 350px;
  color: black;
}

.question {
  border: 3px solid #5850EC;
  border-radius: 10px;
  background-color: white;
  margin-right: 5%;
}

.questionList {
	flex-direction: row;
    justify-content: space-around;
    margin-top : 30px;
}

h1 {
  margin-left: 10px;
}

.heart {
  margin: auto;
}

#subscribe {
  background-color: #FFB266;
}

#subscribe:hover {
  background-color: #FF9933;
}

#codeContainer {
  margin-top: 2%;
  border: 1px solid #000000;
  border-radius: 5px;
}

#yongyongcodeContainer {
  margin-top: 2%;
}

/* �ш린�� 異붽� */
/* 湲��� 踰붿쐞 �쒗븳 */
.question_title {
  font-size: 23px;
  font-weight: bolder !important;
  white-space: normal;
  line-height: 1.2;
  text-align: left;
  -webkit-box-orient: vertical;
}

.question_content {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  white-space: normal;
  line-height: 1.1;
  text-align: left;
  -webkit-box-orient: vertical;

  word-break: keep-all;
  letter-spacing: 2px;
}



.bg-lime-700 {
  background-color: #0E9F6E !important;
  padding: 1%;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 8px;
  color: #FFFFFF;
  margin-top: 2%;
}

.bg-lime-700:hover {
  background-color: #057A55 !important;
}

.bg-lime-700:active {
  outline:none;
  border-style:solid;
  border-width:3px 3px 3px 3px !important;
  border-color: #31C48D #31C48D #31C48D #31C48D !important;
}

.justify-end {
  display: flex;
  justify-content: end;
}

.code {
  margin-bottom: 1%;
  border: 1px solid #000000;
  border-radius: 5px;
}