abody { 
  margin: 0; 
}
.top {
  display: flex;
  justify-content: center;
  background: #F3F4F6;
}
.toptop {
  width: 60%;
}
#top {
  margin-top: 5%;
}
main { 
  font-family: 'Hi Melody', cursive;
  font-family: 'Nanum Gothic', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.margin-bottom {
  margin-bottom: 3%;
}

main > * {
  padding: 0.8em;
  /* color: rgb(119, 130, 254); */
  /* background-color: rgb(253, 253, 120); */
  margin: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}

.text-gray-900 {
  color: #374151 !important;
}

.text-green-300 {
  color: #84E1BC !important;
}

.border-primary-700:focus {
  outline:none;
  border-style:solid;
  border-width:2px 2px 2px 2px !important;
  border-color: #046C4E #046C4E #046C4E #046C4E !important;
}

.bg-lime-700 {
  background-color: #0E9F6E !important;
}

.bg-lime-700:hover {
  background-color: #057A55 !important;
}

.bg-lime-700:active {
  outline:none;
  border-style:solid;
  border-width:3px 3px 3px 3px !important;
  border-color: #31C48D #31C48D #31C48D #31C48D !important;
}

.input {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 2px #31C48D;
}

/* =============== HEADER =================== */
.background_color_white {
  background-color: white;
  border-radius: 1px;
  border-color: azure;
}

/* ?§ÎçîÎ∂?Î∂? ?? */

/* ÏßàÎ¨∏ ?ùÏÑ±?òÎäî Î∂?Î∂? */
/* ?úÎ™© */
.title {
  display: flex;
  margin-top: 2%;
}

/* ÏßàÎ¨∏ ?úÎ™© ?ÖÎ†•?òÍ∏∞ */

/* flex */
#flex {
  display: flex;
  flex-grow: 1;
}
/* Ïπ¥ÌÖåÍ≥†Î¶¨ ?†ÌÉù */

.option{
  border : 1px solid #D1D5DB;
  border-radius : 8px;
  background-color: #F9FAFB;
  font-weight: 400;
  color : #111827;
  padding : 5px;
  width :200px;
  text-align: left;
  cursor : pointer;
  font-size : 13px;

  align-items: center;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-left: 3px;
}

select:focus {
  outline: none;
  border-style: none;

  border: 0.5px solid #E1EFFE;
  border-radius: 8px;
}

/* private Î™®Îìú ?†ÌÉù */
.mr-4 {
  margin-top: 5px;
}

.flex-end {
  justify-content: space-between;
}

.language-selecter {
  width: 50%;
}
/* 
.language-selecter:focus {
  outline: none;
  border-style: solid;
  border-width:3px 3px 3px 3px;
  border-color: #000000 #000000 #000000 #000000; 
} */

/* ?§Î•ò ?ëÏÑ±, ÏßàÎ¨∏ ?ëÏÑ± Î∂?Î∂? */
/* ?ëÏÑ±?†Îïå Í∏∞Î≥∏ */
#message {
  resize: none;
  margin-bottom: 15px;
}

/* Î≤ÑÌäº ?åÎ??? ?? ?®Í≥ºÏ£ºÍ∏∞ */

.button {
  border-radius: 20px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(221, 221, 221);

  margin: 10px;
  margin-bottom: 20px;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
}

.button:hover {
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

.button:active {
  border: 1px solid rgb(166, 169, 166);
  box-shadow: 3px 3px 3px rgb(166, 169, 166);
}

/* Í≥µÎ??ºÏ? ?¥Ïö© ?ëÏÑ± */

.study_journal_content {
  font-size:20px;

  outline: -webkit-focus-ring-color auto 1px;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 2%;

  display: flex;
  flex-direction: column;

  border: none;
  outline: none;
  resize: none;
}

.questionContent {
  margin-bottom: 4%;
}

/* ?úÏ∂ú Î≤ÑÌäº */
.submit_btn {
  justify-content: flex-end;
  display: flex;
  margin-top: 3%;
}

.code-btn {
  margin-bottom: 3% ;
}

/* ?åÏ†úÎ™? Í∏∞Î≥∏ */

#title {
  margin-left: 20px;
}

.editor-container {
  min-height: 50px;
  height: auto;
  overflow-y: auto;
}

#monaco-container {
  margin-bottom: 4%;
  margin-top: 2%;
}

* ?? */
.border-lime-500 {
  border: 1px solid #0E9F6E !important;
  border-radius: 8px;
}

.bg-lime-100 {
  background-color: #DEF7EC !important;
}

.divide-lime-500 {
  border: 1px solid #0E9F6E !important;
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
}

/* ???? */

/* ?? */
.background{
  background-color: white !important;
  padding-top: 1%;
  padding: 3%;
  margin-top: 10%;
  border: 2px solid #E5E7EB;
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px #31C48D; */
}

.bg-gray-50 {
  background-color: #F9FAFB !important;
}

/* ???? */

/* ????~ */
/* ?? ?? css */

.div {
  position: relative;
  width: 300px;
  margin-bottom: 2%;
}

.input {
  font-size: 15px;
  color: #222222;
  width: 300px;
  border: none;
  border-bottom: solid #31C48D 1px;
  padding-bottom: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

.input::placeholder { 
  color: #aaaaaa; 
}

.input:focus { 
  outline: none; 
}

.span {
  display: block;
  position: absolute;
  bottom: 0;
  left : 0%;  /* right?? ???? ? - ? */
  background-color: #31C48D;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all .2s;
}

.input:focus ~ .label, .input:valid ~ .label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

.input:focus ~ .span, .input:valid ~ .span {
  width: 100%;
}

.input {
  background-color: transparent !important;
  ouline: none !important;
}

.input:focus {
  outline: none !important;
}

div#editor_content {
  padding: 16px 24px;
  border: 1px solid #D6D6D6;
  border-radius: 4px;
}

#myTextarea {
  width: 100%;
  height: 200px;
  padding: 1%;
  text-align: left;
  outline: none;
}

.studyJournalContent {
  border: 2px solid #0E9F6E;
  border-radius: 8px;

  padding: 2%;
}

.styleBtn {
  margin-right: 1%;
}

#myTextarea:focus {
  border: 0 solid #e5e7eb;
}

.bg-green-100 {
  background-color: #DEF7EC !important;
}

.bg-green-300:hover {
  background-color: #BCF0DA !important;
}

#user-menu-button {
  margin-left: 25px;
}

.question_label {
  margin-left: 1%;
}

.error_label {
  margin-top: 2%;
  margin-left: 1%;
}