@charset "UTF-8";

/* =============== HEADER =================== */
.background_color_white {
    background-color: #fff;
    border-radius: 1px;
    border-color: azure
}

.footer-logo {
    width: 200px;
}

/*====================================== */

.tw-col-span-8 {
    grid-column: span 8/span 8
}

.tw-py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.tw-flex {
    display: flex
}

.tw-flex-col {
    flex-direction: column
}

.tw-divide-solid>:not([hidden])~:not([hidden]) {
    border-style: solid
}

.tw-divide-x-0>:not([hidden])~:not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(0px * var(--tw-divide-x-reverse));
    border-left-width: calc(0px * calc(1 - var(--tw-divide-x-reverse)))
}

.tw-divide-y>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.tw-divide-slate-200>:not([hidden])~:not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-divide-opacity))
}

.tw-gap-2 {
    gap: .5rem
}

.tw-px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.tw-py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.tw-cursor-pointer {
    cursor: pointer
}

.tw-bg-slate-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity))
}

.hover\:\!tw-bg-slate-50:hover {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(248 250 252/var(--tw-bg-opacity)) !important
}

.tw-items-center {
    align-items: center
}

.tw-w-10 {
    width: 2.5rem
}

.tw-font-bold {
    font-weight: 700
}

.tw-text-slate-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42/var(--tw-text-opacity))
}

.tw-text-center {
    text-align: center
}

.tw-leading-none {
    line-height: 1
}

.tw-text-xs {
    font-size: .75rem
}

.tw-text-slate-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity))
}

.tw-flex-1 {
    flex: 1 1 0%
}

.tw-px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.tw-mb-4 {
    margin-bottom: 1rem
}

.tw-gap-3 {
    gap: .75rem
}

.tw-gap-4 {
    gap: 1rem
}

.tw-border {
    border-width: 1px
}

.tw-line-clamp-1,
.tw-line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.tw-line-clamp-2 {
    -webkit-line-clamp: 2
}

.tw-border-solid {
    border-style: solid
}

.tw-border-slate-200 {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240/var(--tw-border-opacity))
}

.tw-rounded-full {
    border-radius: 9999px
}

.tw-w-9 {
    width: 2.25rem
}

.tw-h-9 {
    height: 2.25rem
}

.tw-object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.tw-text-sm {
    font-size: .875rem
}

.ProfileActivity_streak__AwMtA {
    grid-area: streak;
    padding: 2.5rem 2rem 2.4rem
}

@media (min-width:48em) {
    .ProfileActivity_streak__AwMtA {
        padding: 3rem 2.5rem 2.8rem
    }
}

@media (min-width:75em) {
    .ProfileActivity_streak__AwMtA {
        padding: 3rem 3rem 3.6rem
    }
}

.ProfileActivity_item__DqwKL {
    background-color: #fff;
    border: .1rem solid #dde0ea;
    border-radius: 1.2rem
}

@media (min-width:75em) {
    .ProfileActivity_item__DqwKL {
        border-radius: 1.5rem
    }
}

.flex_mode {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 60px;
    flex-direction: column;
}

.jus-center {
    display: flex;
    justify-content: center;
}

.font_size30 {
    font-size: 30px;
}

.font_size25 {
    font-size: 25px;
    height: 60px;
    line-height: 60px;
}

.pd50 {
    margin-top: 50px;
}

.mgr30{
	margin-right: 30px;
}

.temptemp{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width70px{
	width: 70px;
}

.h-70{
	height: 70px;
	text-overflow: ellipsis;
	overflow: clip;
}

.h-110{
	height: 110px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #d4d4d4;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}